@font-face {
    font-family: "F1";
    src: url("./assets/fonts/F1-Regular.otf");
}

@font-face {
    font-family: "F1-Torque";
    src: url("./assets/fonts/F1-Torque.otf");
}

@font-face {
    font-family: "F1-Turbo";
    src: url("./assets/fonts/F1-Turbo.otf");
}

@font-face {
    font-family: "Bull";
    src: url("./assets/fonts/BullWeb-Heavy1.otf");
}