@font-face {
  font-family: 'F1 Regular';
  src: url('./fonts/F1-Regular.otf');
}

@font-face {
  font-family: 'F1 Torque';
  src: url('./fonts/F1-Torque.otf');
}

@font-face {
  font-family: 'F1 Turbo';
  src: url('./fonts/F1-Turbo.otf');
}

@font-face {
  font-family: 'Bull';
  src: url('./fonts/BullWeb-Heavy1.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'F1 Regular';
  color: white;
}

html, body {
  min-height: 100vh;
  background-color: #222;
}
